* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 90vh;
  background-image: url("../images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

form {
  background-color: rgba(255, 255, 255, 0.6)
}
